Package: jp.soh.freepip
Name: FreePIP
Version: 0.0.3
Architecture: iphoneos-arm
Description: FreePIP is a tweak to un-snap and scale the view of Picture-in-Picture on iOS unlimitedly.
Maintainer: Soh Satoh
Author: Soh Satoh
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
