Package: jp.soh.freepip
Name: FreePIP
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Soh Satoh
Author: Soh Satoh
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
